*.egg
*.egg-info
*.idea/
*.mo
*.pyc
*.pyo
*.swp
*eggs/
.*.cfg
.coverage
.project
.pydevproject
.settings
.tmp*
/.Python
/Scripts/
/data/
/dist/
/include/
/lib/
/lib64/
/local/
/old-eggs/
/parts/
/src/*.egg-info
/var/
/bin/
/develop-eggs/
/devsrc/
/docs/build
/mail/
pip-selfcheck.json
buildout.cfg
